<HTML>

<HEAD>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}" />
    <TITLE>Simple Flask App to work with Harness and ZeroNorth</TITLE>

</HEAD>

<BODY BGCOLOR="FFFFFF">

<img src="/static/harness_and_zn_logo.png">

<HR>

<H1>Simple Celsius to Farenheit Converter</H1>

<H2>I run on Flask!</H2>

<form action="" method="get">
                Celsius temperature: <input type="text" name="celsius">
                <input type="submit" value="Convert to Fahrenheit">
            </form>

Send me mail at <a href="mailto:gabriel.cerioni@harness.io"> harness.io</a>.

<P> <B>The value will return at the same Page. I don't have much time to work on this Project on 2021.</B>

<HR>

</BODY>

</HTML>

